
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>budget</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/budget/expenseitem_form.css' %}">
</head>
<body>
        <a href="index"><h1 class="logo_header">Travello</h1></a>

<section class="signup">
        <div class="container">
                <div class="signup-content">
                       
                    <div class="signup-form">
                        <h2 class="form-title">Update your budget</h2>
                        <form  method="POST">
                                {% csrf_token %}
                                <div class="form_div">
                                    <table> {% include  'tweaky_form.html' with form=form %}
                                    </table>
                                </form>
                                
                                <div class="form-group form-button">
                                <input type="submit" value="Update" id="signup" class="form-submit">
                                </div></div>
                                
                    </div>
                    <div class="image_div">
                            <a href="/budget"><img src="{% static 'images/home.png'%}" alt="sing up image" class="image_icon"><img></a>
                            </div>
                   
                 </div>
            </div>
        </section>

</form>
</body>
</html>




