
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>budget</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/budget/expenseitem_detail.css' %}">
    </head>
    <body>
<a href="index"><h1 class="logo_header">Travello</h1></a>

    
    <section class="signup">
            <div class="container">
                    <div class="signup-content">
                           
                        <div class="signup-form">
                            <h2 class="form-title">Details</h2>
                            <div class="table">
                           <table class="Table">


                <tr> <th>Title</th><td class="separator">:</td><td> {{ object.title|upper }}</td></tr>
                <tr><th>Amount </th><td class="separator">:</td><td> {{ object.amount }}</td> </tr>
                <tr><th>Date </th><td class="separator">:</td><td> {{ object.date }}</td></tr>
                <tr><th>Description </th><td class="separator">:</td><td>  {{ object.description }}</td></tr>
                <tr><th> Account </th><td class="separator">:</td><td> {{ object.account }}</td></tr><br>
                 <tr><th> Category </th><td class="separator">:</td><td>{{ object.category }}</td></tr><br>

    </table>
</div>
     <div class="btn">
    <div class="form-group form-button">
            <a href="/view/{{ object.id }}/edit/"> <input type="submit" value="update" id="signup" class="form-submit" /></a>
           </div>   
           <div class="form-group form-button">
                   <a href="/view/{{ object.id }}/delete/"> <input type="submit" value="delete" id="signup" class="form-submit delete "/></a>
                  </div> 
    </div>
        
   
                                   </div>
                                    
                        </div>
                        <div class="image_div">
                                <a href="/budget"><img src="{% static 'images/home.png'%}" alt="sing up image" class="image_icon"><img></a>
                                </div>
                       
                     </div>
                </div>
            </section>
    
    </form>
    </body>
    </html>
    
    
    
    
                              
                              
    
    